
/* Base style that affects every element */

*{
    align-items:center;
    font-family:'Space Grotesk', sans-serif;
    margin: 0;
}

.topbar {
    background-image: linear-gradient(#00c0fb00 60%, #04184aed ); 
    
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(min-content+2rem);
    margin: 0;
}
/* Main Styling -- backgrnd images and coloring */
body {  
    background-image:   
        linear-gradient(to top left, rgba(0, 0, 0, 0), rgba(0, 1, 12, 0.845)),
        url(./ak.png),
        url(./ak.png);
    background-color: #022e51;
    background-repeat:no-repeat, no-repeat, no-repeat;
    background-attachment: scroll, fixed, fixed;
    background-size: 100%, 400px, 230px;
    background-position-x: 0%,5%, 50%;
    background-position-y: 0%,-4%, 50%;

    align-items: center;
    max-width: auto;
    min-height: 100%;
    background-repeat: no-repeat;
    text-shadow: 0px 0px .5px #ffffff;
    margin-top: 5rem;
}
/* Heading for the page */
h1 {
    margin: 10px;
    padding: 10px;
    padding-inline-end: 7%;
    align-items:center;
    display: flex;
    justify-content: flex-end;
    max-width: auto;
    color:#ffe1d2;
    font-family:'Maven Pro', sans-serif;
    font-size:600%;
    text-shadow:1px 1px 1px #cc6d3d64, 0 0 1em #000000, 0 0 0.2em #a3b4c8;
}
.loginForm {

    /*Background staying better in the middle and letting overflow on narrow screen */
    background-image:
        linear-gradient(to top, rgb(0, 0, 0), rgba(255, 255, 255, 0)),
        radial-gradient(circle , #ffffff00,#00000064, #04184a),
        url(Hienonuotio.JPG);
    background-position-x:  50%;
    background-position-y:  0%, 0%, 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:auto;
    padding-top: 180px;
    padding-bottom: 180px; 
    min-height: 360PX;
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin: 0;

}.loginForm form{
    size: 100%;
    display: flex;
    flex-direction: column;
    justify-content:start;
    }
/* Body overall style */
.bodydiv {
    background-color: #022e512b;
    max-width: 1000px;
    margin-block: 1em;
    margin-top: 0;
}
/* Small texts */
p {
    padding:5px;
    color: #022e51;
}
/* Logout Button */
p button{
    margin: 5px;
    text-transform:uppercase;
    border-radius: 5px;
    color: #fff;
    border-color: #a3b4c8;
    background-color: #cc6d3d;
}
/* Division styling */
div {
    padding:0px;
    margin:1px auto;
    color:#022e51;
}
/* Form styling (title, author, URL) */
.blogFormHead{
    display:none;
}
.inputfield{
    display: flex;
    justify-content: center;
    flex-flow:row wrap;
}
form {
    padding: 1px;
    margin: 5 auto;
    color:#b74803;
    text-shadow: 1px 1px 1px #cc6d3d;
}
.blogform {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    max-width: 800px auto;
    padding-right: 10px;
    background-color: #022e51;
}
.blogform div{
    margin: 0.1em;
    padding: 10px;
    color: #a3b4c8;
}
form div input {
    margin: 1px;
    width:auto;
    display: flex;
    justify-self: center;
    color: #a3b4c8;
    border-radius: 5px;
    border-color: #cc6d3d;
    background-color: #d7eaffb1;
}
form button{
    margin: 1em;
    display: flex;
    justify-self: center;
    text-transform:uppercase;
    border-radius: 5px;
    color: white;
    border-color: #a3b4c8;
    background-color: #cc6d3d;   
}


